html {
    background-color: #FFF;
}

body {
    background-image: linear-gradient(#000, #201255, #4e28bb, #926ef3, #FFF 70%);
    min-height: 100vh;
    color: #fff;
}

#Logo {
    width: 8%;
}

#Logo img{
    width: 100%;
}

.Pagina_produtos {
    background-image: linear-gradient(#000, #201255, #4e28bb, #926ef3, #FFF 120%);
    min-height: 100vh;
    color: #fff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;

}

.nav-link {
    color: #FFF;
    transform: .3s;
}

.nav-link:hover {
    color: #926ef3;
}

.nav-link.active {
    font-weight: bold;
    color: #fff !important;
}

.navbar-nav {
    margin-left: auto;
}

.login {
    text-decoration: none;
    color: #FFF;
    margin: 0 10px;
    transition: .5s;
}
.carrinho_1{
    padding: 5px;
    border: 3px solid #000;
    border-radius: 25px;
}

.login:hover {
    color: #4e28bb;
}

#frase-principal h1 {
    padding: 130px 80px;
}

.title {
    color: #201255;
    border: 1.5px solid #201255;
    padding: 5px 15px;
    border-radius: 25px;
    width: 300px;
    margin: auto;
    font-weight: 400;
    font-size: 1.4em !important;
}

.subTitle {
    font-size: .8em;
    margin-top: 10px;
    color: #201255;
}

.subTitle span {
    font-weight: bold;
}

#destaques {
    padding: 30px 150px;
}

#destaques img {
    width: 60%;
    border-radius: 10px;
    margin: 0 20%;
    margin-top: -25px;
}

.info-card {
    text-align: center;
    margin: 30px;
}
s
.info-card h6 {
    color: #201255;
    font-weight: 600;
}

.info-card hr {
    border-top: 1px #201255 solid;
    opacity: 1;
}

.preco {
    color: #201255;
    margin-bottom: 5px;
    font-size: 1.2em;

}

.preco-riscado {
    color: #201255;
    text-decoration: line-through;
    margin-bottom: 0px;
    font-size: .8em;

}

.tag-off {
    position: relative;
    margin: 0 22%;
    font-weight: bold;
    color: #f15a24;
    z-index: 2;
    font-size: 1.2em;
}

#user {
    border-left: 1px solid #fff;
    margin: 0 10px;
    padding: 0 10px;
}

#user img {
    width: 50px;
    border-radius: 50%;
}

.txt-branco {
    color: #fff !important;
    border: 1.5px solid #ffffff;
margin-bottom: 25px;
margin-top: 90px;
}

.mt-5 {
    margin-top: 0rem!important;
}

#Filtro {
    padding: 50px 39px;
    border-right: 1px solid #fff;
}

.titulos_filtro {
    font-size: 1.25em;
    padding-top: 3px;
    padding-bottom: 3.25px;
    margin-bottom: 4px;
}

.form-check {
    font-size: smaller;
}

.Produto{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1em 2em;
    border-radius: 50px;
    padding: 10px;
    text-decoration: none;
    transition: .3s;
}

.Produto:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.Produto img {
    width: 300px;
    margin: auto;
    border-radius: 50px;
    margin-bottom: 15px;
}



.Info_card{
 text-align: center;   
}
.Info_card h6 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #FFF;
}
.preco_produto{
    color: #FFF;
}

.codigo_produto {
    color: #926ef3;
    font-size: 10px;
    margin-bottom: 6px;
}

.Info_card hr {
    margin-top: 1px;
    margin-bottom: 1px;
    width: 60%;
    border-top: 1.25px #926ef3 solid;
    opacity: 1;
    margin: auto;
}


#User_page_icone img{
    width: 8%;
    margin:auto;
}
#pauzinho{
    border-right: 1px solid #fff;
}
.Login_pagina_login h6{
    padding-top: 10px;
    padding-left: 380px;
    margin-bottom: 3.75%;
    margin-top: 2%;
    font-size: 40px;
}
.Login_pagina_login span{
    padding-left: 200px;
    margin-bottom: 1%;
    margin-top: 5%;
    font-size: 23px;
    padding-top: 10px;
}
.Login_pagina_login p{
    padding-left: 200px;
    margin-bottom: 1%;
    margin-top: 0%;
    font-size: 23px;
    padding-top: 10px;
}
.Login_pagina_login h5{
    padding-left: 429px;
    color: #4e28bb;
    opacity: 60%;
}
/*.form-control{
    width: 66%;
    margin-left: 192px;
    margin-right: 5%;
    border-radius: 20px;
    opacity: 60%;
}*/

#pauzinho .form-check,
.form-login{
    width: 70%;
    margin: auto;
}
#pauzinho .form-check{
    font-size: 1.1em;
}
.title-login{
text-align: center;
    font-size: 40px;
    color: #FFF;
    margin: 3% auto;
}

#pauzinho a{
    color: #926ef3;
    text-decoration: none;
}
#pauzinho a:hover{
    color: #4e28bb;
}

.btn-entrar{
    color: #FFF;
    background-color: #201255;
    width: 50%;
    padding: 10px 15px;
    font-size: 1.1em;
}

.btn-entrar:hover{
    color: #FFF;
    background-color: #4e28bb;
}

#div-btn{
    width: 80%;
    margin: auto;
    text-align: center;
}

#div-btn .btn-light{
    margin-top: 8px;
    width: 80%;
    padding: 10px 15px;
    font-size: 1.1em;
}

#btn-face{
    width: 12%;
}

#btn-google{
    width: 6%;
    margin: 0 15px;
}
.btn-dark{
    margin-left: 40%;
    padding: 0.75em 2%;
}
#botao_final_contato{
    margin-bottom: 30px;
}
#div-btn p{
    margin: 12px 0;
    font-size: 1.1em;
}
.modal-body{
    color: #000;
}
.modal-title{
    color: #000;
}
.Temas{
   margin: 2% 10%;
   font-size: 1.1em;
}
.Titulo_Tema{
    font-size: 25px;
}
#Texto_Contato{
    font-size: 1.2em;
    margin: 2% 11%;
}
.Texto_preto{
    font-size: 1.3em;
    color: #000;
}
#forma-email_contato{
    width: 50%;
    border-radius: 30px;
}

#Destaques{
    text-decoration: none;
}

#dropdown {
    padding-left: 20px!important;
    margin-left: 20px!important;
}


/*Pagina_de_produtos*/

.secao_venda{
    margin: 20px auto;
    width: 75%;
}

.card_img_produto{
    text-align: center;   
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1em auto;
    border-radius: 50px;
    padding: 10px;
    transition: .3s;
    width: 80%;
}

.card_img_produto img{
    border-radius: 20px;
}

.card_img_produto .outras_img{
    margin-top: 10px;
}

.info_venda{
    width: 100%;
}

.info_venda h5{
    color: #fff;
    font-size: 1.3em;
}

.info_venda .estrelas{
    margin: 7px 0;
}

.info_venda p{
    margin: 2px 0;;
}

.info_venda .valor{
    font-size: 1.1em;
text-align: end;
margin: 15px 0;
}

.info_venda .valor .preco-1{
    font-size: 1.3em;
    text-decoration: line-through;
}

.info_venda .valor .preco-2{
    font-size: 1.2em;
}

.fa-heart-o,
.fa-heart{
    color: #201255;
    font-size: 1.4;
}

/*Carrinho*/

.secao_carrinho{
    margin: 20px auto;
    width: 80%;
}

.card_carrinho{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 2em -40px;
    border-radius: 20px;
    padding: 10px;
    transition: .3s;
    width: 116%;
    display: flex;
}

.card_carrinho img{
    margin: 10px;
    border-radius: 20px;
    width: 130px;
}

.card_carrinho .info_card_carrinho{
    width: calc(100% - 130px);
    margin-left: 10px;
}

.card_carrinho .carrinho_nome_produto{
    font-size: 1.1em;
    font-weight: bold;
}

.card_carrinho p{
    margin: 5px 0;
    font-size: .8em;

}

.card_carrinho .btn-card-carrinho{
    text-align: end;
    font-size: .85em;
}

.card_carrinho a{
    color: #926ef3;
    text-decoration: none;
    transition: .3s;
}

.card_carrinho a:hover{
    color: #fff;
}

.resumo_compra{
margin-left:5px;
}

.card_resumo_compra{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 2em 50px;
    border-radius: 20px;
    padding: 10px;
}

.card_resumo_compra p{
    margin: 5px 0;
    font-size: .8em;
}
.card_resumo_compra p{
    margin: 5px 0;
    font-size: .8em;
}

.card_resumo_compra h6{
    font-size: 1.1em;
    margin-bottom:30px; ;
}

.card_resumo_compra .cupom{
    font-size: .8em;
    margin:30px 0;
}

.card_resumo_compra .cupom label{
padding: 0;
}

/*Pagina de vendas */
.Pagina_vendas{
    background-image: linear-gradient(#000, #201255, #4e28bb, #926ef3, #FFF 130%);
    min-height: 100vh;
    color: #fff;
}

/* Pagina de pagamentos */
.Pagina_pagamento { 
    background-image: linear-gradient(#000, #201255, #4e28bb, #926ef3, #FFF 120%);
    min-height: 100vh;
    color: #fff;
}
.btn_pag{
    margin-bottom: 20px;
}
/*Página da conta do usuário*/
#icone_usuario{
    margin-left: 44%;
}
.box_pagina_user{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 2em -40px;
    margin-left: 396px!important;
    border-radius: 20px;
    padding: 10px;
    transition: .3s;
    width: 44%;
    display: flex;
}
.Btn_alterar_userpage{
    margin-top: 20px;
    margin-left: 49%;
}
.btn_vermelho_userpage{
    margin-top: 20px;
    margin-left: 49%;
    margin-bottom: 10px;
}



/* ADM */
/* Pagina do usuário visão ADM*/
.Btn_alterar_userpage_ADM{
    margin-top: 10px;

}
.btn_vermelho_userpage_ADM{
    margin-top: 27px;
    margin-bottom: 10px;
}
.linha_ADM hr{
    margin-top: 20px;
    margin-bottom: 5px;
}
.btn_modal_strike {
    margin-top: 26px;
    padding-bottom: 1%!important;
    height: 50%;
}
.btn_modal_contato {
    margin-top: 10px;
    padding-bottom: 1%!important;
    height: 50%;
}


/* visão adm home*/

.Btn_alterar_timer {
    color: #1A37D1;
    margin-left: 80%;
}

.Btn_titutlo_principal{
    margin-left: 30%;
    margin-top: 60px;
}
#frase-principal-2 h1 {
    
    padding: 10px 80px 100px 40px;
}

/* Págine de produto ADM*/
.btn_vermelho_produto_adm{
    margin-left: 37%;
    margin-bottom: 30px;
}